<%= stylesheet_link_tag 'mypageshow', :media => "all" %>
<div style = 'margin-left:70px;'>
<h1>マイページ</h1>
</div>
<div class="mypage">
    <div class=information>
    <p>名前 : <%= @user.name %></p>
    <p>メールアドレス : <%= @user.email %></p>
    <p>プロフィール : <%= @user.profile %></p>
    <% if current_user.id == @user.id %>
        <%= link_to "編集する", edit_user_registration_path %>
    <% end %>
    </div>

        <h2>ユーザーの投稿</h2>
        <% @user.posts.each do |t| %>
        <div class="post">
        <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
        <div class="main-box">
        <div class="left-container">
        <%= t.name %>
        <%= t.graduation %>
        <%= t.title %>
        <%= t.date %>
        <%= t.about %>
        </div>
        <div class="center-container">
        <!--- 総合評価の星の部分 ---------->
        <div style = 'margin:10px; border:2px double black; width:215px;padding-left:10px;'>
            <div>
            <h4>総合評価：
            <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
        </span> 
        </h4>
        </div>
        <!--- 総合評価の星の部分終わり------->
        </div>
        <p>#タグ</P>
            <% t.tags.each do |tag| %>
                <%= tag.name %>
        <% end %>
        </div>
        <div class="right-container">
            <%# <%= t.user.email %>
            <%= link_to "詳細", post_path(t.id) %>
        </div>
        </div>
        <p class="time"><%= t.created_at %></p>
        </div>
        <% if user_signed_in? && current_user.id == t.user_id %>
        <div class="edit-delete-container">
        <%= link_to "編集する", edit_post_path(t.id) %>
        <%= button_to "削除する", post_path(t.id), method: :delete, class: 'delete-button' %>
        </div>
        <% end %> 
        <% end %>
    </div>
    <div class="mypage">
        <h2>ユーザーがいいねした投稿</h2>
        <% @user.liked_posts.each do |t| %>
                <div class="post">
        <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
        <div class="main-box">
        <div class="left-container">
        <%= t.name %>
        <%= t.graduation %>
        <%= t.title %>
        <%= t.date %>
        <%= t.about %>
        </div>
        <div class="center-container">
        <!--- 総合評価の星の部分 ---------->
        <div style = 'margin:10px; border:2px double black; width:215px;padding-left:10px;'>
            <div>
            <h4>総合評価：
            <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
        </span> 
        </h4>
        </div>
        <!--- 総合評価の星の部分終わり------->
        </div>
        <p>#タグ</P>
            <% t.tags.each do |tag| %>
                <%= tag.name %>
        <% end %>
        </div>
        <div class="right-container">
            <%# <%= t.user.email %>
            <%= link_to "詳細", post_path(t.id) %>
        </div>
        </div>
        <p class="time"><%= t.created_at %></p>
        </div>
        <% if user_signed_in? && current_user.id == t.user_id %>
        <div class="edit-delete-container">
        <%= link_to "編集する", edit_post_path(t.id) %>
        <%= button_to "削除する", post_path(t.id), method: :delete, class: 'delete-button' %>
        </div>
        <% end %> 
        <% end %>
    </div>
    </div>