<%= stylesheet_link_tag 'show', :media => "all" %>

<div class="show-container">
<h3>投稿詳細</h3>
<div class="post">
    <p><%= @post.name %></p>
    <p><%= @post.graduation %></p>
    <p><%= @post.title %></p>
    <p><%= @post.date %></p>
    <p><%= @post.about %></p>
    <p><%= @post.created_at %></p>
<% if user_signed_in? %>
    <% if current_user.already_liked?(@post) %>
        <%= button_to post_like_path(@post), method: :delete do %>
                <i class="fas fa-heart"></i><%= @post.likes.count %>
        <% end %>
    <% else %>
        <%= button_to post_likes_path(@post), method: :post do %>
                <i class="far fa-heart"></i><%= @post.likes.count %>
        <% end %>
    <% end %>
    <% else %>
    <i class="far fa-heart"></i><%= @post.likes.count %>
    <% end %>
<%= link_to "編集する", edit_post_path(@post.id) %>
</div>


<h4>#タグ</h4>
<% @post.tags.each do |tag| %>
    <span><%= tag.name %></span>
<% end %>

<h4>いいねしたユーザー</h4>
<% @post.liked_users.each do |user| %>
    <li><%= user.name %></li>
<% end %>

<div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @comments.each do |c| %>
    <div>
        <div class = "name">
        <%= c.user.name unless c.user.blank? %>
        </div>
        <br>
        <%= c.content %>
    </div>
        <br>
<% end %>
    <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
        <% end %>
    <% end %> 
    <% end %>
</div>

</div>